Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-default-member-init,
  modernize-redundant-void-arg,
  modernize-loop-convert,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -performance-enum-size
WarningsAsErrors: ''
FormatStyle: file
HeaderFilterRegex: include/mj_kdl_wrapper/.*
